src/pug/index.pug
extends layout/layout

block content
    #doc-header.doc-header.text-center
        h1.doc-title Coding Guidelines
        .meta
            i.far.fa-clock
            |
            | Last updated: Nov 2, 2018
    .doc-body.row
        .doc-content.col-md-9.col-12.order-1
            .content-inner
                section.doc-section
                    h2.section-title Getting Started
                    .section-block
                        p Select platform
                        ul.list
                            li Front-end
                            li Back-end (in-progress)
                            li Mobile
        .doc-sidebar.col-md-3.col-12.order-0.d-none.d-md-flex
            #doc-nav.doc-nav
                nav#doc-menu.doc-menu.nav.flex-column.sticky
                    a(href="#").nav-link Front-end
                    nav.doc-sub-menu.nav.flex-column
                        a(href="#").nav-link HTML
                        a(href="#").nav-link CSS/SCSS
                    a(href="#").nav-link Back-end
                    a(href="#").nav-link Mobile

dist/index.html
<!DOCTYPE html><html><head><title>Enjoy TEFL</title><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"><!-- FontAwesome JS -->
<script defer src="https://use.fontawesome.com/releases/v5.1.1/js/all.js" integrity="sha384-BtvRZcyfv4r0x/phJt9Y9HhnN5ur1Z+kZbKVgzVBAlQZX4jvAuImlIz+bG7TS00a" crossorigin="anonymous"></script>
<!-- Font CSS -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<!-- Plugins CSS -->
<link rel="stylesheet" href="css/vendors.css">
<link rel="stylesheet" href="vendors/prettydocs/plugins/prism/prism.css">
<link rel="stylesheet" href="vendors/prettydocs/plugins/elegant_font/css/style.css">
<!-- Theme CSS -->
<link id="theme-style" rel="stylesheet" href="vendors/prettydocs/css/styles.css">
<!-- App CSS -->
<link rel="stylesheet" href="css/app.css"></head><body><div class="page-wrapper"><header class="header" id="header"><div class="container"><div class="branding"><div class="logo"><a href="#"><span class="icon icon_document_alt" aria-hidden="true"></span> <span class="text-highlight">Development <span class="text-white-50">Style</span> <span class="text-bold">Guide</span></span></a></div></div></div></header><div class="doc-wrapper"><div class="container"><div class="doc-header text-center" id="doc-header"><h1 class="doc-title">Coding Guidelines</h1><div class="meta"><i class="far fa-clock"></i>
Last updated: Nov 2, 2018</div></div><div class="doc-body row"><div class="doc-content col-md-9 col-12 order-1"><div class="content-inner"><section class="doc-section"><h2 class="section-title">Getting Started</h2><div class="section-block"><p>Select platform</p><ul class="list"><li>Front-end</li><li>Back-end (in-progress)</li><li>Mobile</li></ul></div></section></div></div><div class="doc-sidebar col-md-3 col-12 order-0 d-none d-md-flex"><div class="doc-nav" id="doc-nav"><nav class="doc-menu nav flex-column sticky" id="doc-menu"><a class="nav-link" href="#">Front-end</a><nav class="doc-sub-menu nav flex-column"><a class="nav-link" href="#">HTML</a><a class="nav-link" href="#">CSS/SCSS</a></nav><a class="nav-link" href="#">Back-end</a><a class="nav-link" href="#">Mobile</a></nav></div></div></div></div></div></div><footer class="footer text-center" id="footer"><div class="container"><small class="copyright">&copy; 2018 MFEC</small></div></footer><script src="js/vendors.js"></script><script type="text/javascript" src="vendors/prettydocs/plugins/prism/prism.js"></script>
<script type="text/javascript" src="vendors/prettydocs/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script>
<script type="text/javascript" src="assets/plugins/lightbox/dist/ekko-lightbox.min.js"></script>
<script type="text/javascript" src="vendors/prettydocs/plugins/stickyfill/dist/stickyfill.min.js"></script>
<script type="text/javascript" src="vendors/prettydocs/js/main.js"></script><script src="js/app.js"></script></body></html>
